.cover__link {
    z-index: 2;
    text-decoration: none;
    display: grid;
    align-self: center;
    min-height: 100%;
    background: rgba(42, 44, 47, 0.3) top left / cover no-repeat;
    transition: .8s linear;
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
}


