.places {
    max-width: 984px;
    margin: 92px auto 0;
}

@media (max-width: 1024px) {
    .places {
        max-width: 928px;
        margin: 48px 48px 0 48px;
    }
}

@media (max-width: 768px) {
    .places {
        max-width: 100%;
        margin: 88px 24px 0 24px;
    }
}

@media (max-width: 459px) {
    .places {
        margin: 64px 0 0;
    }
}