@import url("__title/lead__title.css");
@import url("__subtitle/lead__subtitle.css");
@import url("__image/lead__image.css");
@import url("__caption/lead__caption.css");

.lead {
    padding: 56px 148px 0;
    min-width: min-content;
    margin: 0;
}

@media (min-width: 1281px) {
    .lead {
        margin: 0 auto;
    }
}

@media (max-width: 1024px) {
    .lead {
        padding: 48px 48px 0 48px;
    }
}

@media (max-width: 768px) {
    .lead {
        padding: 48px 0 0 0;
    }
}

@media (max-width: 320px) {
    .lead {
        padding: 48px 0 0 0;
    }
}