@import url("__lang-link/header__lang-link.css");
@import url("__logo/header__logo.css");
@import url("__lang-link/__lang-link_active/header__lang-link_active.css");

.header {
    min-width: min-content;
    justify-content: space-between;
    margin: 0 48px;
    padding-top: 28px;
    display: grid;
    grid-template-columns: 1fr repeat(2, min-content);
    grid-template-rows: minmax(auto, 52px);
    align-items: center;
}

@media (min-width: 1281px) {
    .header {
        max-width: 1184px;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .header {
        margin: 0 24px;
    }
}

@media (max-width: 320px) {
    .header {
        margin: 0 16px;
        padding-top: 16px;
        grid-template-rows: minmax(auto, 42px);
    }
}