.pages {
    background: #2A2C2F top center / cover;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}


@media (max-width: 1024px) {
    .pages {
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .pages {
        max-width: 768px;
    }
}


@media screen and (max-width: 320px) {
    .pages {
        max-width: 320px;
    }
}
