.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    color: white;
    margin: 0;
    align-self: start;
    justify-self: end;
    grid-column: 2;
}

@media (max-width: 716px) {
    .footer__copyright {
        grid-row: 6;
        grid-column: 1;
        justify-self: start;
        margin-top: 16px;
    }
}
