.intro__text {
    font-size: 16px;
    line-height: 26px;
    color: white;
    margin: 40px 0 32px;
    font-weight: normal;
}

@media (max-width: 320px) {
    .intro__text {
        word-break: break-word;
    }
}



