@import url("__list/intro__list.css");
@import url("__subtitle/intro__subtitle.css");
@import url("__title/intro__title.css");
@import url("__text/intro__text.css");

.intro {
    margin: 92px 442px 0 148px;
    width: 690px;
    height: 428px;
}