@import url("__title/cover__title.css");
@import url("__subtitle/cover__subtitle.css");
@import url("__background/cover__background.css");
@import url("__overlay/cover__overlay.css");

.cover {
    max-width: 1184px;
    margin: 92px auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    padding: 0;
}

@media (max-width: 1280px) {
    .cover {
        margin: 92px 0;
        max-width: 1280px;
    }
}

@media (max-width: 1024px ) {
    .cover {
        margin: 92px 0;
        max-width: 1024px;
    }
}

@media (max-width: 768px) {
    .cover {
        margin: 88px 0;
        max-width: 768px;
    }
}

@media (max-width: 320px) {
    .cover {
        margin: 64px 0;
        max-width: 320px;
    }
}