.footer__list {
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: auto;
    align-items: center;
    justify-items: end;
    list-style-type: none;
    padding: 0;
    grid-column: 1;
    margin: 0;
}

@media (max-width: 716px) {
    .footer__list {
        max-width: 186px;
        grid-template-columns: minmax(auto, 310px);
        grid-template-rows: repeat(5, 24px);
        row-gap: 32px;
        justify-items: start;
    }
}
