.place__website {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    transition: 1s linear;
    letter-spacing: 0;
    font-size: 18px;
    line-height: 22px;
}

.place__website:hover {
    opacity: 0.8;
}


@media (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media (max-width: 320px) {
    .place__website {
        visibility: hidden;
        display: none;
    }
}