@import url("_link/place__website_link.css");
@import url("_url-heading/place__website_url-heading.css");

.place__website {
    max-width: 456px;
    max-height: 46px;
    align-self: end;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .place__website {
        max-width: 352px;
        max-height: 46px;
    }
}

@media (max-width: 320px) {
    .place__website {
        visibility: hidden;
        display: none;
    }
}