.place__website-url {
    max-width: 456px;
    color: #AAAAAA;
    letter-spacing: 0.2em;
    font-size: 12px;
    line-height: 12px;
}

.place__website-url {
    margin: 0 0 12px;
}

@media (max-width: 768px) {
    .place__website-url {
        max-width: 352px;
    }
}

@media (max-width: 320px) {
    .place__website-url {
        visibility: hidden;
        display: none;
    }
}